<div style=" background: none
    repeat-x;
    background-size: 1px 80px;
    position: absolute;
    top: 0;
    height:80px;
    width: 100%;">
    <div id="logo">      
        <a href="http://www.Dana.com/">
            <img id="SiteLogoImage"
                 src="~/Images/danalogo.png"
                 alt="Site Logo"
                 style="height:80px;" />
        </a>
    </div>
</div>
